---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout  title="Santiago Petean">

 <main class="h-screen bg-zinc-950">
 <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 p-10">

  <Card title="1" cardStyle="item large"/>
  <Card title="2" cardStyle="item"/>
  <Card title="3" cardStyle="item"/>
  <Card title="4" cardStyle="item large"/>

  <Card title="5" cardStyle="item"/>
  <Card title="6" cardStyle="item"/>
  <Card title="7" cardStyle="item"/>
  <Card title="8" cardStyle="item"/>

  <Card title="9" cardStyle="item"/>
  <Card title="10" cardStyle="item"/>
  <Card title="11" cardStyle="item"/>
  <Card title="12" cardStyle="item"/>

  <Card title="13" cardStyle="item"/>
  <Card title="14" cardStyle="item">Small 12</Card>
  <Card title="15" cardStyle="item">Small 13</Card>


 </div>
 </main>




</Layout>

<style>

 .grid {
  display: grid;
  //grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1em 1em;
  grid-auto-flow: row dense;
 }


</style>
