---
interface Props {
	cardStyle: string;
    title: string;
}

const {  cardStyle, title} = Astro.props;
---


<div class={cardStyle}>{title}</div>

<style>

	.item {
		background: rgb(217, 217, 217);
		border-radius: 0.25em;
		padding: 2em;
        //TODO: with span values you can modify the cards, do it for each card
        grid-row: auto / span ;
        grid-column: auto / span ;
    }

	.large {
        background: rgb(217, 217, 217);
		grid-column: auto / span 2;
		grid-row: auto / span 2;
		height: 200px;
	}
</style>
